[submodule "todolist_app_flutter"]
	path = todolist_app_flutter
	url = https://github.com/mikeZyeman/todolist_app_flutter
[submodule "todolist-backend-spring"]
	path = todolist-backend-spring
	url = https://github.com/mikeZyeman/todolist-backend-spring
